/* Adapted from https://github.com/riceissa/document-templates/blob/master/default.css */

div#navigation {
    font-size: 90%;
    overflow: hidden;   
}

div#content {
    margin: 2em auto;
    max-width: 35em;
    text-align: left;
    width: 93%;
    word-wrap: break-word;
}

h2 { border-bottom: 1px solid #ccc; }

a { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

blockquote {
    border-left: 4px solid #ccc;
    color: #444;
    margin: 0px;
    padding: 0px 0px 0px 16px;
}

code {
    background-color: #eee;
    padding-left: 4px;
    padding-right: 4px;
}

pre code {
    display: block;
    line-height: 1.2em;
    max-height: 30em;
    overflow: auto;
    padding: 10px;
}

table {
    border-bottom: 2px solid #333;
    border-collapse: collapse;
    border-top: 2px solid #333;
    margin: 0px auto;
}

table th {
    border-bottom: 1px solid #333;
    font-weight: normal;
    padding: 0px 10px;
    vertical-align: top;
}

table td {
    padding: 0px 10px;
    vertical-align: top;
}
